body input:-webkit-autofill,
body input:-webkit-autofill:hover,
body input:-webkit-autofill:focus,
body input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #f3f4f4 inset !important;
  outline: none;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.container-login {
  background-color: #fcf9f6;
  width: 300px;
  margin: 0 auto;
  margin-top: 200px;
}

.button {
  transition: all 0.2s linear;
  display: inline-block;
  font-size: 16px;
  color: #272E35;
  padding: 20px 30px;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  line-height: normal;
  text-decoration: none !important;
}
.button--primary {
  color: white;
  background-color: #E2783C;
}
.button--primary:hover {
  color: black !important;
}
.button--checkout {
  color: white;
  background-color: #E2783C;
}

.error {
  display: flex;
  align-items: center;
  column-gap: 5px;
  width: inherit;
  padding: 5px 0 5px 5px;
  border-radius: 10px;
  margin-bottom: 15px;
  margin-top: -15px;
  color: red;
}

.dangerous {
  color: #ff2323;
  display: flex;
  align-items: center;
  column-gap: 5px;
  padding-bottom: 10px;
}
.dangerous-success {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 0;
  color: #098b09;
}

.hover-items :hover {
  border: 1px solid #E2783C;
}

.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  row-gap: 10px;
  margin: 50px 0;
}
.about-us__title {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.avatar {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

button {
  border: none;
  background-color: transparent;
  outline: none;
}

button:focus {
  border: none;
}

.header {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-user {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.header-user-name {
  display: block;
  width: 60px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.header-user-image {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  text-decoration: none;
}
.header-user-image img {
  width: 50px;
  height: 50px;
  border-radius: 100rem;
  object-fit: cover;
}
.header-user-icon {
  width: 50px;
  height: 50px;
  background-color: #fcf9f6;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
}
.header-user-icon i {
  font-size: 20px;
  font-weight: bold;
}
.header-user-icon:active {
  background-color: #f5d6bc;
  transition: all 0.25s;
}
.header-logo-image {
  width: 235px;
}
.header-menu {
  display: flex;
  align-items: center;
  gap: 60px;
}
.header-menu-product {
  display: flex;
  align-items: center;
  gap: 5px;
}
.header-menu-child {
  position: absolute;
  top: 30px;
  width: 170px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  background-color: #fcf9f6;
  border-radius: 5px;
  padding: 20px 10px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.25s;
  z-index: 100;
}
.header-menu-item {
  position: relative;
}
.header-menu-item a {
  color: #272E35;
  text-decoration: none;
}
.header-menu-item a:hover {
  color: #E2783C;
  transition: color 0.2s ease-in-out;
}
.header-cart {
  font-size: 35px;
  cursor: pointer;
}
.header-cart :hover {
  color: #E2783C;
}
.header-search {
  padding: 10px;
  background-color: #f3f4f4;
  border-radius: 8px;
  display: flex;
  margin-right: -20px;
  border: 1px solid transparent;
  transition: all 0.25s linear;
  align-items: center;
}
.header-search:hover {
  background-color: white;
  border: 1px solid #E2783C;
}
.header-search-icon {
  background-color: transparent;
  border: none;
  font-size: 30px;
  cursor: pointer;
}
.header-search input {
  width: 120px;
  font-size: 15px;
  width: inherit;
  padding: 10px 0;
  border: 0;
  border-radius: #f3f4f4;
  background-color: inherit;
  outline: none;
}

.hover:hover .header-menu-child {
  opacity: 1;
  visibility: visible;
}

.footer {
  padding: 40px 40px;
  background-color: #fcf9f6;
}
.footer-main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 50px;
}
.footer-desc {
  font-size: 16px;
  line-height: 1.5;
}
.footer .social {
  display: flex;
  align-items: center;
  gap: 0 30px;
}
.footer .social-item {
  cursor: pointer;
  color: #272E35;
}
.footer .social-item:hover {
  color: #E2783C;
}
.footer-heading {
  font-size: 18px;
  color: #272E35;
  margin-bottom: 40px;
  font-weight: bold;
}
.footer-links {
  list-style: none;
}
.footer-item {
  margin-bottom: 30px;
}
.footer-link {
  display: inline-block;
  color: #272E35;
}
.footer-info {
  list-style: none;
  margin-bottom: 40px;
}
.footer-info li {
  margin-bottom: 15px;
  line-height: 1.6;
}
.footer-highlight {
  color: white;
}
.footer-bottom {
  background-color: #272E35;
  line-height: 1.6;
}
.footer-bottom a {
  text-decoration: inherit;
  color: white;
}

.login {
  margin: 100px 0;
}
.login-main {
  width: 400px;
  margin: 0 auto;
  background-color: #fcf9f6;
  border-radius: 20px;
  padding: 40px;
  transition: all 0.25s linear;
}
.login-main:hover {
  box-shadow: 0px -1px 18px -8px rgba(0, 0, 0, 0.57), 0px -1px 18px -8px rgba(0, 0, 0, 0.57), 0px -1px 18px -8px rgba(0, 0, 0, 0.57);
}
.login-field {
  display: flex;
  align-items: center;
  background-color: #f3f4f4;
  padding: 15px;
  border-radius: 16px;
  margin-bottom: 20px;
}
.login-icon {
  font-size: 16px;
  width: 20px;
}
.login-input {
  border: 0;
  padding-left: 15px;
  background-color: transparent;
  outline: none;
  font-family: "Poppins", sans-serif;
  width: 100%;
}
.login-submit {
  font-size: 16px;
  color: white;
  border-radius: 16px;
  display: block;
  width: 100%;
  padding: 15px 10px;
  border: 0;
  background-color: #E2783C;
}
.login-title {
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin-bottom: 30px;
  font-weight: 550;
  font-size: 30px;
}
.login-forgot-password {
  text-decoration: none;
  display: block;
  text-align: right;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 14px;
}
.login--back {
  text-decoration: none;
  text-align: center;
  font-size: 16px;
}

.sigup-button {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.image-slider {
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.image-item {
  height: 400px;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  margin: 0 auto;
}

.slick-initialized .slick-slide {
  padding: 0 10px;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  width: 40px;
  height: 40px;
  background-color: #fcf9f6;
  border-radius: 100rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  line-height: 1;
  z-index: 3;
}

.slick-prev {
  right: -20px;
}

.slick-next {
  left: -20px;
}

.slick-dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100%);
  display: flex !important;
  align-items: center;
  justify-content: center;
  gap: 0 10px;
  transition: all 0.25s linear;
}
.slick-dots button {
  font-size: 0;
  width: 15px;
  height: 15px;
  background-color: #ccc;
  border-radius: 100rem;
}
.slick-dots .slick-active button {
  background-color: #E2783C;
}

/*panel*/
.panel-heading {
  border-color: #eff2f7;
  font-size: 16px;
  font-weight: 300;
}

.panel-title {
  color: #2a3542;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0;
}

/*product list*/
.prod-cat li a {
  border-bottom: 1px dashed #d9d9d9;
}

.prod-cat li a {
  color: #3b3b3b;
}

.prod-cat li ul {
  margin-left: 30px;
}

.prod-cat li ul li a {
  border-bottom: none;
}

.prod-cat li ul li a:hover,
.prod-cat li ul li a:focus,
.prod-cat li ul li.active a,
.prod-cat li a:hover,
.prod-cat li a:focus,
.prod-cat li a.active {
  background: none;
  color: #ff7261;
}

.pro-lab {
  margin-right: 20px;
  font-weight: normal;
}

.pro-sort {
  padding-right: 20px;
  float: left;
}

.pro-page-list {
  margin: 5px 0 0 0;
}

.product-list img {
  width: 100%;
  border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
}

.product-list .pro-img-box {
  position: relative;
}

.adtocart {
  background: #fc5959;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  color: #fff;
  display: inline-block;
  text-align: center;
  border: 3px solid #fff;
  left: 45%;
  bottom: -25px;
  position: absolute;
}

.adtocart i {
  color: #fff;
  font-size: 25px;
  line-height: 42px;
}

.pro-title {
  color: #5a5a5a;
  display: inline-block;
  margin-top: 20px;
  font-size: 16px;
}

.product-list .price {
  color: #fc5959;
  font-size: 15px;
}

.pro-img-details {
  margin-left: -15px;
}

.pro-img-details img {
  width: 100%;
}

.pro-d-title {
  font-size: 16px;
  margin-top: 0;
}

.product_meta {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 10px 0;
  margin: 15px 0;
}

.product_meta span {
  display: block;
  margin-bottom: 10px;
}

.product_meta a,
.pro-price {
  color: #fc5959;
}

.pro-price,
.amount-old {
  font-size: 18px;
  padding: 0 10px;
}

.amount-old {
  text-decoration: line-through;
}

.quantity {
  width: 120px;
}

.pro-img-list {
  margin: 10px 0 0 -15px;
  width: 100%;
  display: inline-block;
}

.pro-img-list a {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.pro-d-head {
  font-size: 18px;
  font-weight: 300;
}

.product-price {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  column-gap: 5px;
}
.product-price-item {
  border-radius: 3px;
  border: 1px solid #ccc;
  width: 50%;
  padding-left: 5px;
}
.product-price-item :focus {
  border: 1px solid #E2783C;
}
.product-top {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  margin-bottom: 10px;
}

.product-list {
  display: flex !important;
  flex-wrap: wrap !important;
  flex: 1 !important;
}
.product-admin {
  width: 1120px;
}
.product-controller {
  display: flex;
  align-items: center;
  column-gap: 5px;
}
.product-container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background-color: #fcf9f6;
  padding: 15px;
  border-radius: 5px;
  transition: all 0.25s linear;
}
.product-container:hover {
  box-shadow: 0px -1px 18px -8px rgba(0, 0, 0, 0.57), 0px -1px 18px -8px rgba(0, 0, 0, 0.57), 0px -1px 18px -8px rgba(0, 0, 0, 0.57);
}
.product-title {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 20px;
}
.product-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 5px;
  width: 390px;
}
.product-input {
  background-color: #f3f4f4;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  outline: none;
}
.product-input input {
  border: 0;
  padding-left: 15px;
  background-color: transparent;
  outline: none;
  font-family: "Poppins", sans-serif;
  width: 340px;
}
.product-image-input {
  width: 100px;
}
.product-select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.product-select-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 5px;
  margin: 0 5px;
}
.product-select-items select {
  border: 0;
  padding-left: 15px;
  background-color: transparent;
  outline: none;
  font-family: "Poppins", sans-serif;
  width: 160px;
}
.product-textarea {
  height: 230px;
  width: -webkit-fill-available;
}
.product-textarea textarea {
  width: inherit;
  height: inherit;
  border: none;
  background-color: transparent;
  font-family: "Poppins", sans-serif;
  outline: none;
}
.product-image {
  display: flex;
  margin: 10px auto 15px 5px;
  column-gap: 10px;
  align-items: center;
}
.product-button {
  padding: 13px 20px;
  border-radius: 5px;
  background: #E2783C;
  border: none;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: white;
  transition: all 0.25s linear;
}
.product-button:active {
  border: 1px solid black;
  -webkit-box-shadow: 0px 1px 17px -4px rgba(0, 0, 0, 0.37);
  -moz-box-shadow: 0px 1px 17px -4px rgba(0, 0, 0, 0.37);
  box-shadow: 0px 1px 17px -4px rgba(0, 0, 0, 0.37);
}
.product-back {
  border: 1px solid #E2783C;
}
.product-search {
  margin-bottom: 0px;
}
.product-add {
  display: inline-block;
  align-items: center;
  column-gap: 5px;
}
.product-add :after {
  display: block;
  content: "";
  border-bottom: solid 2px #E2783C;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
.product-add :after {
  transform-origin: 100% 50%;
}
.product-add :hover:after {
  transform: scaleX(1);
  transform-origin: 0% 50%;
}

.product-input:hover {
  border: 1px solid #E2783C;
  transition: all 0.25s linear;
}

.form-group {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.product-filter {
  padding: 3px 3px;
  border: 1px solid #ccc;
  border-radius: 3px;
  transition: all 0.25s linear;
}
.product-filter :hover {
  border: #E2783C !important;
}

.btn-primary {
  border: none;
  outline: none;
  background-color: #E2783C !important;
}
.btn-primary :active {
  border: none;
  outline: none;
}

.product-item {
  height: 370px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  -webkit-box-shadow: -1px 2px 10px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 2px 10px -3px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 2px 10px -3px rgba(0, 0, 0, 0.75);
}
.product-item-image {
  height: 250px;
  object-fit: cover;
}

.container-product {
  margin-top: 20px;
}

.title-best {
  background-color: #ff6f00;
  color: white;
  padding: 10px;
  font-size: 25px;
  display: flex;
  align-items: center;
  margin-bottom: -15px;
  border-radius: 3px;
}

.product-content {
  flex: 1;
}

/*panel*/
.panel {
  margin: 20px 0;
}

.panel-heading {
  border-color: #eff2f7;
  font-size: 16px;
  font-weight: 600;
}

.panel-title {
  color: #2a3542;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0;
}

/*product list*/
.prod-cat li a {
  border-bottom: 1px dashed #d9d9d9;
}

.prod-cat li a {
  color: #3b3b3b;
}

.prod-cat li ul {
  margin-left: 30px;
}

.prod-cat li ul li a {
  border-bottom: none;
}

.prod-cat li ul li a:hover,
.prod-cat li ul li a:focus,
.prod-cat li ul li.active a,
.prod-cat li a:hover,
.prod-cat li a:focus,
.prod-cat li a.active {
  background: none;
  color: #ff7261;
}

.pro-lab {
  margin-right: 20px;
  font-weight: normal;
}

.pro-sort {
  padding-right: 20px;
  float: left;
}

.pro-page-list {
  margin: 5px 0 0 0;
}

.product-list img {
  width: 100%;
  border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
}

.product-list .pro-img-box {
  position: relative;
}

.adtocart {
  background: #E2783C;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  color: #fff;
  display: inline-block;
  text-align: center;
  border: 3px solid #fff;
  transform: translateX(-15%);
  bottom: -25px;
  position: absolute;
}

.adtocart i {
  color: #fff;
  font-size: 25px;
  line-height: 42px;
}

.pro-title {
  color: #5a5a5a;
  display: inline-block;
  margin-top: 20px;
  font-size: 16px;
}

.product-list .price {
  color: #fc5959;
  font-size: 15px;
}

.pro-img-details {
  margin-left: -15px;
}

.pro-img-details img {
  width: 100%;
}

.pro-d-title {
  font-size: 16px;
  margin-top: 0;
}

.product_meta {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 10px 0;
  margin: 15px 0;
}

.product_meta span {
  display: block;
  margin-bottom: 10px;
}

.product_meta a,
.pro-price {
  color: #fc5959;
}

.pro-price,
.amount-old {
  font-size: 18px;
  padding: 0 10px;
}

.amount-old {
  text-decoration: line-through;
}

.quantity {
  width: 120px;
}

.pro-img-list {
  margin: 10px 0 0 -15px;
  width: 100%;
  display: inline-block;
}

.pro-img-list a {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.pro-d-head {
  font-size: 18px;
  font-weight: 300;
}

.product-mess {
  margin-top: 10px;
  color: #098b09;
}

body {
  margin-top: 20px;
}

.d-flex {
  margin-left: auto !important;
}

.ui-w-40 {
  width: 40px !important;
  height: auto;
}

.card {
  box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.08);
  padding-bottom: 15px;
}

.ui-product-color {
  display: inline-block;
  overflow: hidden;
  margin: 0.144em;
  width: 0.875rem;
  height: 0.875rem;
  border-radius: 10rem;
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset;
  vertical-align: middle;
}

.admin {
  margin: 100px 0;
}

.container-admin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: left;
  row-gap: 20px;
}

a {
  text-decoration: none;
}

.category-top {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  margin-bottom: -10px;
}

.cateogry-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 430px;
  padding: 20px 10px;
  background-color: #fcf9f6;
  margin: 0 auto;
  border-radius: 8px;
  transition: all 0.25s linear;
}
.cateogry-main:hover {
  box-shadow: 0px -1px 18px -8px rgba(0, 0, 0, 0.57), 0px -1px 18px -8px rgba(0, 0, 0, 0.57), 0px -1px 18px -8px rgba(0, 0, 0, 0.57);
}

.admin-manage {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  text-align: center;
}
.admin-manage-title {
  font-size: 30px;
  font-weight: 600;
}
.admin-manage li > a {
  font-size: 20px;
}
.admin-manage ul {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
  font-weight: bold;
}

.cart-back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 10px;
  align-items: center;
  margin-bottom: 160px;
}
.cart-icon {
  font-size: 30px;
}
.cart-title {
  text-align: center;
  font-weight: 400;
  font-size: 30px;
}
.cart-title--success {
  font-size: 20px;
  color: #098b09;
}

.input-producer {
  background-color: white;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid transparent;
  outline: none;
  font-size: 20px;
}
.input-producer input {
  border: 0;
  padding-left: 15px;
  background-color: transparent;
  outline: none;
  font-family: "Poppins", sans-serif;
  width: 340px;
}

.profile {
  margin: 100px auto;
}
.profile-container {
  margin: 0 auto;
  width: 1000px;
  display: flex;
  align-items: center;
  -webkit-box-shadow: 0px -1px 18px -8px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px -1px 18px -8px rgba(0, 0, 0, 0.57);
  box-shadow: 0px -1px 18px -8px rgba(0, 0, 0, 0.57);
  border-radius: 10px;
}
.profile-left {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  row-gap: 20px;
  padding: 50px 100px 70px 100px;
  border-right: 1px solid #ccc;
}
.profile-left-role {
  margin-top: -20px;
}
.profile-left img {
  width: 60px;
  height: 60px;
  border-radius: 100rem;
  object-fit: cover;
}
.profile-left-name {
  font-family: "Poppins", sans-serif;
  border: none;
  max-width: 85px;
}
.profile-right {
  width: 70%;
  padding: 25px 35px;
  height: 270px;
}
.profile-header {
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  font-weight: bold;
}
.profile-detail {
  padding: 25px 0 25px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.profile-item {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  width: 150px;
}
.profile-input {
  border: none;
  font-family: "Poppins", sans-serif;
  color: #9E9AA3;
}
.profile-input:focus {
  outline: none;
}
.profile-footer {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.profile-save {
  display: flex;
  align-items: center;
  font-size: 20px;
  justify-content: center;
  margin: 0 auto;
  cursor: pointer;
  border: 1px solid #ccc;
  background-color: #E2783C;
  padding: 5px 10px;
  border-radius: 3px;
  color: white;
}
.profile-mess {
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #098b09;
}
.profile-purchar {
  display: inline-block;
}

.purchar {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  row-gap: 7px;
  margin: 100px auto;
}
.purchar-title {
  font-weight: bold;
  font-size: 20px;
}
.purchar-container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#table {
  width: 1000px !important;
}

/*# sourceMappingURL=style.css.map */
