
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <div class="container bootdey">
      <div class="col-md-3">
        <section class="panel">
          <header class="panel-heading">Category</header>
          <div class="panel-body">
            <ul class="nav prod-cat">
              <li>
                <a href="#" class="active"
                  ><i class="fa fa-angle-right"></i> Dress</a
                >
                <ul class="nav">
                  <li class="active"><a href="#">- Shirt</a></li>
                  <li><a href="#">- Pant</a></li>
                  <li><a href="#">- Shoes</a></li>
                </ul>
              </li>
              <li>
                <a href="#"
                  ><i class="fa fa-angle-right"></i> Bags &amp; Purses</a
                >
              </li>
              <li>
                <a href="#"><i class="fa fa-angle-right"></i> Beauty</a>
              </li>
              <li>
                <a href="#"
                  ><i class="fa fa-angle-right"></i> Coat &amp; Jacket</a
                >
              </li>
              <li>
                <a href="#"><i class="fa fa-angle-right"></i> Jeans</a>
              </li>
              <li>
                <a href="#"><i class="fa fa-angle-right"></i> Jewellery</a>
              </li>
              <li>
                <a href="#"><i class="fa fa-angle-right"></i> Electronics</a>
              </li>
              <li>
                <a href="#"><i class="fa fa-angle-right"></i> Sports</a>
              </li>
              <li>
                <a href="#"><i class="fa fa-angle-right"></i> Technology</a>
              </li>
              <li>
                <a href="#"><i class="fa fa-angle-right"></i> Watches</a>
              </li>
              <li>
                <a href="#"><i class="fa fa-angle-right"></i> Accessories</a>
              </li>
            </ul>
          </div>
        </section>
        <section class="panel">
          <header class="panel-heading">Price Range</header>
          <div class="panel-body sliders">
            <div id="slider-range" class="slider"></div>
            <div class="slider-info">
              <span id="slider-range-amount"></span>
            </div>
          </div>
        </section>
        <section class="panel">
          <header class="panel-heading">Filter</header>
          <div class="panel-body">
            <form role="form product-form">
              <div class="form-group">
                <label>Brand</label>
                <select
                  class="form-control hasCustomSelect"
                  style="
                    -webkit-appearance: menulist-button;
                    width: 231px;
                    position: absolute;
                    opacity: 0;
                    height: 34px;
                    font-size: 12px;
                  "
                >
                  <option>Wallmart</option>
                  <option>Catseye</option>
                  <option>Moonsoon</option>
                  <option>Textmart</option>
                </select>
                <span
                  class="customSelect form-control"
                  style="display: inline-block"
                  ><span
                    class="customSelectInner"
                    style="width: 209px; display: inline-block"
                    >Wallmart</span
                  ></span
                >
              </div>
              <div class="form-group">
                <label>Color</label>
                <select
                  class="form-control hasCustomSelect"
                  style="
                    -webkit-appearance: menulist-button;
                    width: 231px;
                    position: absolute;
                    opacity: 0;
                    height: 34px;
                    font-size: 12px;
                  "
                >
                  <option>White</option>
                  <option>Black</option>
                  <option>Red</option>
                  <option>Green</option>
                </select>
                <span
                  class="customSelect form-control"
                  style="display: inline-block"
                  ><span
                    class="customSelectInner"
                    style="width: 209px; display: inline-block"
                    >White</span
                  ></span
                >
              </div>
              <div class="form-group">
                <label>Type</label>
                <select
                  class="form-control hasCustomSelect"
                  style="
                    -webkit-appearance: menulist-button;
                    width: 231px;
                    position: absolute;
                    opacity: 0;
                    height: 34px;
                    font-size: 12px;
                  "
                >
                  <option>Small</option>
                  <option>Medium</option>
                  <option>Large</option>
                  <option>Extra Large</option>
                </select>
                <span
                  class="customSelect form-control"
                  style="display: inline-block"
                  ><span
                    class="customSelectInner"
                    style="width: 209px; display: inline-block"
                    >Small</span
                  ></span
                >
              </div>
              <button class="btn btn-primary" type="submit">Filter</button>
            </form>
          </div>
        </section>
      </div>
      <div class="col-md-9">
        <div class="row product-list">
          <div class="col-md-4">
            <section class="panel">
              <div class="pro-img-box">
                <img
                  src="https://via.placeholder.com/250x220/FFB6C1/000000"
                  alt=""
                />
                <a href="#" class="adtocart">
                  <i class="fa fa-shopping-cart"></i>
                </a>
              </div>

              <div class="panel-body text-center">
                <h4>
                  <a href="product_detail.jsp" class="pro-title"> Leopard Shirt Dress </a>
                </h4>
                <p class="price">$300.00</p>
              </div>
            </section>
          </div>

          <div class="col-md-4">
            <section class="panel">
              <div class="pro-img-box">
                <img
                  src="https://via.placeholder.com/250x220/FF7F50/000000"
                  alt=""
                />
                <a href="#" class="adtocart">
                  <i class="fa fa-shopping-cart"></i>
                </a>
              </div>

              <div class="panel-body text-center">
                <h4>
                  <a href="#" class="pro-title"> Leopard Shirt Dress </a>
                </h4>
                <p class="price">$300.00</p>
              </div>
            </section>
          </div>
          <div class="col-md-4">
            <section class="panel">
              <div class="pro-img-box">
                <img
                  src="https://via.placeholder.com/250x220/3CB371/000000"
                  alt=""
                />
                <a href="#" class="adtocart">
                  <i class="fa fa-shopping-cart"></i>
                </a>
              </div>

              <div class="panel-body text-center">
                <h4>
                  <a href="#" class="pro-title"> Leopard Shirt Dress </a>
                </h4>
                <p class="price">$300.00</p>
              </div>
            </section>
          </div>
          <div class="col-md-4">
            <section class="panel">
              <div class="pro-img-box">
                <img
                  src="https://via.placeholder.com/250x220/FFB6C1/000000"
                  alt=""
                />
                <a href="#" class="adtocart">
                  <i class="fa fa-shopping-cart"></i>
                </a>
              </div>

              <div class="panel-body text-center">
                <h4>
                  <a href="#" class="pro-title"> Leopard Shirt Dress </a>
                </h4>
                <p class="price">$300.00</p>
              </div>
            </section>
          </div>
          <div class="col-md-4">
            <section class="panel">
              <div class="pro-img-box">
                <img
                  src="https://via.placeholder.com/250x220/C71585/000000"
                  alt=""
                />
                <a href="#" class="adtocart">
                  <i class="fa fa-shopping-cart"></i>
                </a>
              </div>

              <div class="panel-body text-center">
                <h4>
                  <a href="#" class="pro-title"> Leopard Shirt Dress </a>
                </h4>
                <p class="price">$300.00</p>
              </div>
            </section>
          </div>
          <div class="col-md-4">
            <section class="panel">
              <div class="pro-img-box">
                <img
                  src="https://via.placeholder.com/250x220/191970/000000"
                  alt=""
                />
                <a href="#" class="adtocart">
                  <i class="fa fa-shopping-cart"></i>
                </a>
              </div>

              <div class="panel-body text-center">
                <h4>
                  <a href="#" class="pro-title"> Leopard Shirt Dress </a>
                </h4>
                <p class="price">$300.00</p>
              </div>
            </section>
          </div>
          <div class="col-md-4">
            <section class="panel">
              <div class="pro-img-box">
                <img
                  src="https://via.placeholder.com/250x220/87CEEB/000000"
                  alt=""
                />
                <a href="#" class="adtocart">
                  <i class="fa fa-shopping-cart"></i>
                </a>
              </div>

              <div class="panel-body text-center">
                <h4>
                  <a href="#" class="pro-title"> Leopard Shirt Dress </a>
                </h4>
                <p class="price">$300.00</p>
              </div>
            </section>
          </div>
          <div class="col-md-4">
            <section class="panel">
              <div class="pro-img-box">
                <img
                  src="https://via.placeholder.com/250x220/FFB6C1/000000"
                  alt=""
                />
                <a href="#" class="adtocart">
                  <i class="fa fa-shopping-cart"></i>
                </a>
              </div>

              <div class="panel-body text-center">
                <h4>
                  <a href="#" class="pro-title"> Leopard Shirt Dress </a>
                </h4>
                <p class="price">$300.00</p>
              </div>
            </section>
          </div>
        </div>
        <section class="panel">
          <div class="panel-body">
            <div class="pull-right">
              <ul class="pagination pagination-sm pro-page-list">
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">»</a></li>
              </ul>
            </div>
          </div>
        </section>
      </div>
    </div>
    <script type="text/javascript">
	// <![CDATA[  <-- For SVG support
	if ('WebSocket' in window) {
		(function () {
			function refreshCSS() {
				var sheets = [].slice.call(document.getElementsByTagName("link"));
				var head = document.getElementsByTagName("head")[0];
				for (var i = 0; i < sheets.length; ++i) {
					var elem = sheets[i];
					var parent = elem.parentElement || head;
					parent.removeChild(elem);
					var rel = elem.rel;
					if (elem.href && typeof rel != "string" || rel.length == 0 || rel.toLowerCase() == "stylesheet") {
						var url = elem.href.replace(/(&|\?)_cacheOverride=\d+/, '');
						elem.href = url + (url.indexOf('?') >= 0 ? '&' : '?') + '_cacheOverride=' + (new Date().valueOf());
					}
					parent.appendChild(elem);
				}
			}
			var protocol = window.location.protocol === 'http:' ? 'ws://' : 'wss://';
			var address = protocol + window.location.host + window.location.pathname + '/ws';
			var socket = new WebSocket(address);
			socket.onmessage = function (msg) {
				if (msg.data == 'reload') window.location.reload();
				else if (msg.data == 'refreshcss') refreshCSS();
			};
			if (sessionStorage && !sessionStorage.getItem('IsThisFirstTime_Log_From_LiveServer')) {
				console.log('Live reload enabled.');
				sessionStorage.setItem('IsThisFirstTime_Log_From_LiveServer', true);
			}
		})();
	}
	else {
		console.error('Upgrade your browser. This Browser is NOT supported WebSocket for Live-Reloading.');
	}
	// ]]>
</script>
