body input:-webkit-autofill,
body input:-webkit-autofill:hover,
body input:-webkit-autofill:focus,
body input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #f3f4f4 inset !important;
}
body input:-webkit-autofill:hover{
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.container-login {
  background-color: #fcf9f6;
  width: 300px;
  margin: 0 auto;
  margin-top: 200px;
}

.button {
  transition: all 0.2s linear;
  display: inline-block;
  font-size: 16px;
  color: #272E35;
  padding: 20px 30px;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  line-height: normal;
  text-decoration: none !important;
}
.button--primary {
  color: white;
  background-color: #E2783C;
}
.button--checkout {
  color: white;
  background-color: #E2783C;
}

.error {
  display: flex;
  align-items: center;
  column-gap: 5px;
  width: inherit;
  padding: 5px 0 5px 5px;
  border-radius: 10px;
  margin-bottom: 15px;
  margin-top: -15px;
  color: red;
}

.dangerous {
  color: #ff2323;
  display: flex;
  align-items: center;
  column-gap: 5px;
  padding-bottom: 10px;
}

.hover-items :hover {
  border: 1px solid #E2783C;
}

button {
  border: none;
  background-color: transparent;
  outline: none;
}

button:focus {
  border: none;
}

.header {
  padding-top: 43px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-user {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.header-user-name {
  font-weight: 600;
}
.header-user-image {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  text-decoration: none;
}
.header-user-image img {
  width: 50px;
  height: 50px;
  border-radius: 100rem;
  object-fit: cover;
}
.header-user-icon {
  width: 50px;
  height: 50px;
  background-color: #fcf9f6;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
}
.header-user-icon i {
  font-size: 20px;
  font-weight: bold;
}
.header-user-icon:active {
  background-color: #f5d6bc;
  transition: all 0.25s;
}
.header-logo-image {
  width: 235px;
}
.header-menu {
  display: flex;
  align-items: center;
  gap: 60px;
}
.header-menu-product {
  display: flex;
  align-items: center;
  gap: 5px;
}
.header-menu-child {
  position: absolute;
  top: 30px;
  width: 170px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  background-color: #fcf9f6;
  border-radius: 5px;
  padding: 20px 10px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.25s;
  z-index: 100;
}
.header-menu-item {
  position: relative;
}
.header-menu-item a {
  color: #272E35;
  text-decoration: none;
}
.header-menu-item a:hover {
  color: #E2783C;
  transition: color 0.2s ease-in-out;
}
.header-cart {
  font-size: 35px;
  cursor: pointer;
}
.header-cart :hover {
  color: #E2783C;
}
.header-search {
  padding: 10px;
  background-color: #f3f4f4;
  border-radius: 8px;
  display: flex;
  margin-right: -20px;
  border: 1px solid transparent;
  transition: all 0.25s linear;
  align-items: center;
}
.header-search:hover {
  background-color: white;
  border: 1px solid #E2783C;
  transition: all 0.25s linear;
}
.header-search-icon {
  background-color: transparent;
  border: none;
  font-size: 30px;
  cursor: pointer;
}
.header-search input {
  width: 120px;
  font-size: 15px;
  width: inherit;
  padding: 10px 0;
  border: 0;
  border-radius: #f3f4f4;
  background-color: inherit;
  outline: none;
}

.hover:hover .header-menu-child {
  opacity: 1;
  visibility: visible;
}

.footer {
  padding: 40px 40px;
  background-color: #fcf9f6;
}
.footer-main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 50px;
}
.footer-desc {
  font-size: 16px;
  line-height: 1.5;
}
.footer .social {
  display: flex;
  align-items: center;
  gap: 0 30px;
}
.footer .social-item {
  cursor: pointer;
  color: #272E35;
}
.footer .social-item:hover {
  color: #E2783C;
}
.footer-heading {
  font-size: 18px;
  color: #272E35;
  margin-bottom: 40px;
  font-weight: bold;
}
.footer-links {
  list-style: none;
}
.footer-item {
  margin-bottom: 30px;
}
.footer-link {
  display: inline-block;
  color: #272E35;
}
.footer-info {
  list-style: none;
  margin-bottom: 40px;
}
.footer-info li {
  margin-bottom: 15px;
  line-height: 1.6;
}
.footer-highlight {
  color: white;
}
.footer-bottom {
  background-color: #272E35;
  line-height: 1.6;
}
.footer-bottom a {
  text-decoration: inherit;
  color: white;
}

.login {
  margin: 100px 0;
}
.login-main {
  width: 400px;
  margin: 0 auto;
  background-color: #fcf9f6;
  border-radius: 20px;
  padding: 40px;
}
.login-field {
  display: flex;
  align-items: center;
  background-color: #f3f4f4;
  padding: 15px;
  border-radius: 16px;
  margin-bottom: 20px;
}
.login-icon {
  font-size: 16px;
  width: 20px;
}
.login-input {
  border: 0;
  padding-left: 15px;
  background-color: transparent;
  outline: none;
  font-family: "Poppins", sans-serif;
  width: 100%;
}
.login-submit {
  font-size: 16px;
  color: white;
  border-radius: 16px;
  display: block;
  width: 100%;
  padding: 15px 10px;
  border: 0;
  background-color: #E2783C;
}
.login-title {
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin-bottom: 30px;
  font-weight: 550;
  font-size: 30px;
}
.login-forgot-password {
  text-decoration: none;
  display: block;
  text-align: right;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 14px;
}
.login--back {
  text-decoration: none;
  text-align: center;
  font-size: 16px;
}

.sigup-button {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

* {
  box-sizing: border-box;
}

.mySlides {
  border-radius: 5px;
}

.slide-img {
  vertical-align: middle;
  border-radius: 10px;
  height: 450px;
  object-fit: cover;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Caption text */
/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px;
  }
}
/*panel*/
.panel-heading {
  border-color: #eff2f7;
  font-size: 16px;
  font-weight: 300;
}

.panel-title {
  color: #2a3542;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0;
}

/*product list*/
.prod-cat li a {
  border-bottom: 1px dashed #d9d9d9;
}

.prod-cat li a {
  color: #3b3b3b;
}

.prod-cat li ul {
  margin-left: 30px;
}

.prod-cat li ul li a {
  border-bottom: none;
}

.prod-cat li ul li a:hover,
.prod-cat li ul li a:focus,
.prod-cat li ul li.active a,
.prod-cat li a:hover,
.prod-cat li a:focus,
.prod-cat li a.active {
  background: none;
  color: #ff7261;
}

.pro-lab {
  margin-right: 20px;
  font-weight: normal;
}

.pro-sort {
  padding-right: 20px;
  float: left;
}

.pro-page-list {
  margin: 5px 0 0 0;
}

.product-list img {
  width: 100%;
  border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
}

.product-list .pro-img-box {
  position: relative;
}

.adtocart {
  background: #fc5959;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  color: #fff;
  display: inline-block;
  text-align: center;
  border: 3px solid #fff;
  left: 45%;
  bottom: -25px;
  position: absolute;
}

.adtocart i {
  color: #fff;
  font-size: 25px;
  line-height: 42px;
}

.pro-title {
  color: #5a5a5a;
  display: inline-block;
  margin-top: 20px;
  font-size: 16px;
}

.product-list .price {
  color: #fc5959;
  font-size: 15px;
}

.pro-img-details {
  margin-left: -15px;
}

.pro-img-details img {
  width: 100%;
}

.pro-d-title {
  font-size: 16px;
  margin-top: 0;
}

.product_meta {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 10px 0;
  margin: 15px 0;
}

.product_meta span {
  display: block;
  margin-bottom: 10px;
}

.product_meta a,
.pro-price {
  color: #fc5959;
}

.pro-price,
.amount-old {
  font-size: 18px;
  padding: 0 10px;
}

.amount-old {
  text-decoration: line-through;
}

.quantity {
  width: 120px;
}

.pro-img-list {
  margin: 10px 0 0 -15px;
  width: 100%;
  display: inline-block;
}

.pro-img-list a {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.pro-d-head {
  font-size: 18px;
  font-weight: 300;
}

.product-top {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  margin-bottom: 10px;
}

.product-admin {
  width: 1120px;
}
.product-controller {
  display: flex;
  align-items: center;
  column-gap: 5px;
}
.product-form {
  width: 500px;
}
.product-container {
  margin: 0 auto;
  max-width: 400px;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background-color: #fcf9f6;
  padding: 15px;
}
.product-title {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 20px;
}
.product-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 5px;
  width: 390px;
}
.product-input {
  background-color: #f3f4f4;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  outline: none;
}
.product-input input {
  border: 0;
  padding-left: 15px;
  background-color: transparent;
  outline: none;
  font-family: "Poppins", sans-serif;
  width: 340px;
}
.product-image-input {
  width: 100px;
}
.product-select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.product-select-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 5px;
  margin: 0 5px;
}
.product-select-items select {
  border: 0;
  padding-left: 15px;
  background-color: transparent;
  outline: none;
  font-family: "Poppins", sans-serif;
  width: 160px;
}
.product-textarea {
  height: 230px;
  width: 360px;
}
.product-textarea textarea {
  width: inherit;
  height: inherit;
  border: none;
  background-color: transparent;
  font-family: "Poppins", sans-serif;
  outline: none;
}
.product-image {
  display: flex;
  margin: 10px auto 15px 5px;
  column-gap: 10px;
  align-items: center;
}
.product-button {
  padding: 13px 20px;
  border-radius: 5px;
  background: #E2783C;
  border: none;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: white;
}
.product-back {
  background-color: #fcf9f6;
  border: 1px solid #E2783C;
}
.product-search {
  margin-bottom: 0px;
}
.product-add {
  display: inline-block;
  align-items: center;
  column-gap: 5px;
}
.product-add :after {
  display: block;
  content: "";
  border-bottom: solid 2px #E2783C;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
.product-add :after {
  transform-origin: 100% 50%;
}
.product-add :hover:after {
  transform: scaleX(1);
  transform-origin: 0% 50%;
}

.product-input:hover {
  border: 1px solid #E2783C;
  transition: all 0.25s linear;
}

.form-group {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.product-filter {
  padding: 3px 3px;
  border: 1px solid #ccc;
  border-radius: 3px;
  transition: all 0.25s linear;
}
.product-filter :hover {
  border: #E2783C !important;
}

.btn-primary {
  border: none;
  outline: none;
  background-color: #E2783C !important;
}
.btn-primary :active {
  border: none;
  outline: none;
}

.product-item {
  -webkit-box-shadow: -1px 2px 10px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 2px 10px -3px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 2px 10px -3px rgba(0, 0, 0, 0.75);
}
.product-item-image {
  height: 250px;
  object-fit: cover;
}

/*panel*/
.panel {
  margin: 20px 0;
}

.panel-heading {
  border-color: #eff2f7;
  font-size: 16px;
  font-weight: 300;
}

.panel-title {
  color: #2a3542;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0;
}

/*product list*/
.prod-cat li a {
  border-bottom: 1px dashed #d9d9d9;
}

.prod-cat li a {
  color: #3b3b3b;
}

.prod-cat li ul {
  margin-left: 30px;
}

.prod-cat li ul li a {
  border-bottom: none;
}

.prod-cat li ul li a:hover,
.prod-cat li ul li a:focus,
.prod-cat li ul li.active a,
.prod-cat li a:hover,
.prod-cat li a:focus,
.prod-cat li a.active {
  background: none;
  color: #ff7261;
}

.pro-lab {
  margin-right: 20px;
  font-weight: normal;
}

.pro-sort {
  padding-right: 20px;
  float: left;
}

.pro-page-list {
  margin: 5px 0 0 0;
}

.product-list img {
  width: 100%;
  border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
}

.product-list .pro-img-box {
  position: relative;
}

.adtocart {
  background: #E2783C;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  color: #fff;
  display: inline-block;
  text-align: center;
  border: 3px solid #fff;
  transform: translateX(-15%);
  bottom: -25px;
  position: absolute;
}

.adtocart i {
  color: #fff;
  font-size: 25px;
  line-height: 42px;
}

.pro-title {
  color: #5a5a5a;
  display: inline-block;
  margin-top: 20px;
  font-size: 16px;
}

.product-list .price {
  color: #fc5959;
  font-size: 15px;
}

.pro-img-details {
  margin-left: -15px;
}

.pro-img-details img {
  width: 100%;
}

.pro-d-title {
  font-size: 16px;
  margin-top: 0;
}

.product_meta {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 10px 0;
  margin: 15px 0;
}

.product_meta span {
  display: block;
  margin-bottom: 10px;
}

.product_meta a,
.pro-price {
  color: #fc5959;
}

.pro-price,
.amount-old {
  font-size: 18px;
  padding: 0 10px;
}

.amount-old {
  text-decoration: line-through;
}

.quantity {
  width: 120px;
}

.pro-img-list {
  margin: 10px 0 0 -15px;
  width: 100%;
  display: inline-block;
}

.pro-img-list a {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.pro-d-head {
  font-size: 18px;
  font-weight: 300;
}

body {
  margin-top: 20px;
}

.d-flex {
  margin-left: auto !important;
}

.ui-w-40 {
  width: 40px !important;
  height: auto;
}

.card {
  box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.08);
}

.ui-product-color {
  display: inline-block;
  overflow: hidden;
  margin: 0.144em;
  width: 0.875rem;
  height: 0.875rem;
  border-radius: 10rem;
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset;
  vertical-align: middle;
}

.admin {
  margin: 100px 0;
}

.container-admin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: left;
  row-gap: 20px;
}

a {
  text-decoration: none;
}

.category-top {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  margin-bottom: -10px;
}

.cateogry-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 430px;
  padding: 20px 10px;
  background-color: #fcf9f6;
  margin: 0 auto;
  border-radius: 8px;
}

.admin-manage {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  text-align: center;
}
.admin-manage-title {
  font-size: 30px;
  font-weight: 600;
}
.admin-manage li > a {
  font-size: 20px;
}
.admin-manage ul {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
  font-weight: bold;
}

/*# sourceMappingURL=style.css.map */
