.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

.container-login {
    background-color: #fcf9f6;
    width: 300px;
    margin: 0 auto;
    margin-top: 200px;
}

.button {
    transition: all 0.2s linear;
    display: inline-block;
    font-size: 16px;
    color: #272E35;
    padding: 20px 30px;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    line-height: normal;
    text-decoration: none;
}
.button--primary {
    color: white;
    background-color: #E2783C;
}
.button--checkout {
    color: white;
    background-color: #E2783C;
}

.header {
    padding-top: 43px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-user {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.header-user-logo{
    width: 35px;
    height: 35px;
    border-radius: 100rem;
}
.header-logo-image {
    width: 235px;
}
.header-menu {
    display: flex;
    align-items: center;
    gap: 60px;
}
.header-menu-product {
    display: flex;
    align-items: center;
    gap: 5px;
}
.header-menu-child {
    position: absolute;
    top: 30px;
    width: 170px;
    display: flex;
    flex-direction: column;
    gap: 35px;
    background-color: #fcf9f6;
    border-radius: 5px;
    padding: 20px 10px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.25s;
    z-index: 100;
}
.header-menu-item {
    position: relative;
}
.header-menu-item a {
    color: #272E35;
    text-decoration: none;
}
.header-menu-item a:hover {
    color: #E2783C;
    transition: color 0.2s ease-in-out;
}
.header-cart {
    font-size: 35px;
    cursor: pointer;
}
.header-cart :hover {
    color: #E2783C;
}
.header-search {
    padding: 10px;
    background-color: #f3f4f4;
    border-radius: 8px;
    display: flex;
    margin-right: -20px;
    transition: all 0.25s linear;
}
.header-search:hover {
    background-color: white;
    -webkit-box-shadow: 0px 0px 25px 0px rgba(226, 120, 60, 0.8);
    -moz-box-shadow: 0px 0px 25px 0px rgba(226, 120, 60, 0.8);
    box-shadow: 0px 0px 25px 0px rgba(226, 120, 60, 0.8);
}
.header-search-icon {
    font-size: 30px;
    cursor: pointer;
}
.header-search input {
    width: 120px;
    font-size: 15px;
    width: inherit;
    padding: 10px 0;
    border: 0;
    border-radius: #f3f4f4;
    background-color: inherit;
    outline: none;
}

.hover:hover .header-menu-child {
    opacity: 1;
    visibility: visible;
}

.footer {
    padding: 40px 40px;
    background-color: #fcf9f6;
}
.footer-main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}
.footer-logo {
    display: inline-block;
    margin-bottom: 50px;
}
.footer-desc {
    font-size: 16px;
    margin-bottom: 40px;
    line-height: 1.5;
}
.footer .social {
    display: flex;
    align-items: center;
    gap: 0 30px;
}
.footer .social-item {
    cursor: pointer;
    color: #272E35;
}
.footer .social-item:hover {
    color: #E2783C;
}
.footer-heading {
    font-size: 18px;
    color: #272E35;
    margin-bottom: 40px;
    font-weight: bold;
}
.footer-links {
    list-style: none;
}
.footer-item {
    margin-bottom: 30px;
}
.footer-link {
    display: inline-block;
    color: #272E35;
}
.footer-info {
    list-style: none;
    margin-bottom: 40px;
}
.footer-info li {
    margin-bottom: 15px;
    line-height: 1.6;
}
.footer-highlight {
    color: white;
}
.footer-bottom {
    background-color: #272E35;
    line-height: 1.6;
}
.footer-bottom a {
    text-decoration: inherit;
    color: white;
}

.login {
    margin: 100px 0;
}
.login-main {
    width: 400px;
    margin: 0 auto;
    background-color: #fcf9f6;
    border-radius: 20px;
    padding: 40px;
}
.login-field {
    display: flex;
    align-items: center;
    background-color: #f3f4f4;
    padding: 15px;
    border-radius: 16px;
    margin-bottom: 20px;
}
.login-icon {
    font-size: 16px;
    width: 20px;
}
.login-input {
    border: 0;
    padding-left: 15px;
    background-color: transparent;
    outline: none;
    font-family: "Poppins", sans-serif;
    width: 100%;
}
.login-submit {
    font-size: 16px;
    color: white;
    border-radius: 16px;
    display: block;
    width: 100%;
    padding: 15px 10px;
    border: 0;
    background-color: #E2783C;
}
.login-title {
    font-family: "Poppins", sans-serif;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 550;
    font-size: 30px;
}
.login-forgot-password {
    text-decoration: none;
    display: block;
    text-align: right;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 14px;
}
.login--back {
    text-decoration: none;
    text-align: center;
    font-size: 16px;
}

.sigup-button {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.slider {
    max-width: 1000px;
    margin: 25px auto;
    position: relative;
}
.slider-dot {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 10px;
    bottom: 10px;
    left: 50%;
    z-index: 10;
    transform: translateX(-50%);
    transition: background-color 0.25s linear;
}
.slider-dot li.active {
    background-color: white;
}
.slider-dot-item {
    cursor: pointer;
    width: 15px;
    height: 15px;
    border-radius: 100rem;
    background-color: #999;
}
.slider-wrapper {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
}
.slider-main {
    transition: transform 0.25s linear;
    position: relative;
    display: flex;
    height: 100%;
}
.slider-prev, .slider-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    border-radius: 100rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #999;
    background-color: #fcf9f6;
    cursor: pointer;
    font-size: 20px;
    z-index: 10;
}
.slider-wrapper {
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: relative;
}
.slider-next {
    right: -25px;
}
.slider-prev {
    left: -25px;
}
.slider-item {
    height: 100%;
    width: 100%;
    flex: 1 0 100%;
    user-select: none;
}
.slider-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

body {
    margin-top: 20px;
}

/*panel*/
.panel {
    border: none;
    box-shadow: none;
}

.panel-heading {
    border-color: #eff2f7;
    font-size: 16px;
    font-weight: 300;
}

.panel-title {
    color: #2a3542;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 0;
}

/*product list*/
.prod-cat li a {
    border-bottom: 1px dashed #d9d9d9;
}

.prod-cat li a {
    color: #3b3b3b;
}

.prod-cat li ul {
    margin-left: 30px;
}

.prod-cat li ul li a {
    border-bottom: none;
}

.prod-cat li ul li a:hover,
.prod-cat li ul li a:focus,
.prod-cat li ul li.active a,
.prod-cat li a:hover,
.prod-cat li a:focus,
.prod-cat li a.active {
    background: none;
    color: #ff7261;
}

.pro-lab {
    margin-right: 20px;
    font-weight: normal;
}

.pro-sort {
    padding-right: 20px;
    float: left;
}

.pro-page-list {
    margin: 5px 0 0 0;
}

.product-list img {
    width: 100%;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
}

.product-list .pro-img-box {
    position: relative;
}

.adtocart {
    background: #fc5959;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    color: #fff;
    display: inline-block;
    text-align: center;
    border: 3px solid #fff;
    left: 45%;
    bottom: -25px;
    position: absolute;
}

.adtocart i {
    color: #fff;
    font-size: 25px;
    line-height: 42px;
}

.pro-title {
    color: #5a5a5a;
    display: inline-block;
    margin-top: 20px;
    font-size: 16px;
}

.product-list .price {
    color: #fc5959;
    font-size: 15px;
}

.pro-img-details {
    margin-left: -15px;
}

.pro-img-details img {
    width: 100%;
}

.pro-d-title {
    font-size: 16px;
    margin-top: 0;
}

.product_meta {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 10px 0;
    margin: 15px 0;
}

.product_meta span {
    display: block;
    margin-bottom: 10px;
}

.product_meta a,
.pro-price {
    color: #fc5959;
}

.pro-price,
.amount-old {
    font-size: 18px;
    padding: 0 10px;
}

.amount-old {
    text-decoration: line-through;
}

.quantity {
    width: 120px;
}

.pro-img-list {
    margin: 10px 0 0 -15px;
    width: 100%;
    display: inline-block;
}

.pro-img-list a {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.pro-d-head {
    font-size: 18px;
    font-weight: 300;
}

/*panel*/
.panel {
    border: none;
    box-shadow: none;
    margin: 20px 0;
}

.panel-heading {
    border-color: #eff2f7;
    font-size: 16px;
    font-weight: 300;
}

.panel-title {
    color: #2a3542;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 0;
}

/*product list*/
.prod-cat li a {
    border-bottom: 1px dashed #d9d9d9;
}

.prod-cat li a {
    color: #3b3b3b;
}

.prod-cat li ul {
    margin-left: 30px;
}

.prod-cat li ul li a {
    border-bottom: none;
}

.prod-cat li ul li a:hover,
.prod-cat li ul li a:focus,
.prod-cat li ul li.active a,
.prod-cat li a:hover,
.prod-cat li a:focus,
.prod-cat li a.active {
    background: none;
    color: #ff7261;
}

.pro-lab {
    margin-right: 20px;
    font-weight: normal;
}

.pro-sort {
    padding-right: 20px;
    float: left;
}

.pro-page-list {
    margin: 5px 0 0 0;
}

.product-list img {
    width: 100%;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
}

.product-list .pro-img-box {
    position: relative;
}

.adtocart {
    background: #fc5959;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    color: #fff;
    display: inline-block;
    text-align: center;
    border: 3px solid #fff;
    left: 45%;
    bottom: -25px;
    position: absolute;
}

.adtocart i {
    color: #fff;
    font-size: 25px;
    line-height: 42px;
}

.pro-title {
    color: #5a5a5a;
    display: inline-block;
    margin-top: 20px;
    font-size: 16px;
}

.product-list .price {
    color: #fc5959;
    font-size: 15px;
}

.pro-img-details {
    margin-left: -15px;
}

.pro-img-details img {
    width: 100%;
}

.pro-d-title {
    font-size: 16px;
    margin-top: 0;
}

.product_meta {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 10px 0;
    margin: 15px 0;
}

.product_meta span {
    display: block;
    margin-bottom: 10px;
}

.product_meta a,
.pro-price {
    color: #fc5959;
}

.pro-price,
.amount-old {
    font-size: 18px;
    padding: 0 10px;
}

.amount-old {
    text-decoration: line-through;
}

.quantity {
    width: 120px;
}

.pro-img-list {
    margin: 10px 0 0 -15px;
    width: 100%;
    display: inline-block;
}

.pro-img-list a {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.pro-d-head {
    font-size: 18px;
    font-weight: 300;
}

body {
    margin-top: 20px;
}

.d-flex {
    margin-left: auto !important;
}

.ui-w-40 {
    width: 40px !important;
    height: auto;
}

.card {
    box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.08);
}

.ui-product-color {
    display: inline-block;
    overflow: hidden;
    margin: 0.144em;
    width: 0.875rem;
    height: 0.875rem;
    border-radius: 10rem;
    -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset;
    vertical-align: middle;
}

/*# sourceMappingURL=style.css.map */
