.admin {
  margin: 100px 0;
}
.container-admin {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  text-align: left;
}
a {
  text-decoration: none;
}
.category {
  &-top {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
  }
  &-search {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid;
  }
}
.admin-manage {
  h1 {
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 15px;
  }
  li > a {
    font-size: 20px;
  }
  ul {
    display: flex;
    flex-direction: column;
    column-gap: 10px;
  }
}
th, td{
  padding: 10p;
  text-align: left;
}
th{
  font-weight: bold;
}

