.admin{
    margin: 100px 0; 
}
.container-admin{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    text-align: left;
}
a{
    text-decoration: none;
}
.category{
    &-top{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
    }
    &-manage{
        h1{
            font-size: 30px;
            font-weight: 600;
            padding-bottom:15px ;
        }
        li > a{
            font-size: 20px;
            
        }
        ul{
            display: flex;
            flex-direction: column;
            column-gap: 10px;
        }
      
    }
    &-search{
        padding: 5
px
 0;
    border-radius: 5
px
;
    border: 1
px
 solid;
    }
    
}
