.admin {
  margin: 100px 0;
}
.container-admin {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  text-align: left;
}
a {
  text-decoration: none;
}
.category {
  &-top {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
  }
  
  &-search {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid;
  }
}
th, td{
  padding: 15px;
  text-align: left;
}
th{
  font-weight: bold;
}

