.container-admin{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    text-align: center;
}
a{
    text-decoration: none;
}
.category{
    &-top{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
    }
    h1{
        font-size: 30px;
        font-weight: 600;
        a{
            
        }
    }

}
