.admin {
  margin: 100px 0;
}
.container-admin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: left;
  row-gap: 20px;
}
a {
  text-decoration: none;
}
.category {
  &-top {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin-bottom: -10px;
  }
  
}
.admin-manage {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  text-align: center;
  &-title {
    font-size: 30px;
    font-weight: 600;
  }
  li > a {
    font-size: 20px;
  }
  ul {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
  }
}
th, td{
  padding: 10px;
  text-align: left;
}
th{
  font-weight: bold;
}

