body {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px $background-input inset !important;
    outline: none;
  }
}
.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}
.container-login {
  background-color: $background;
  width: 300px;
  margin: 0 auto;
  margin-top: 200px;
}

.button {
  transition: all 0.2s linear;
  display: inline-block;
  font-size: 16px;
  color: $gray-dark;
  padding: 20px 30px;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  line-height: normal;
  text-decoration: none !important;
  &--primary {
    color: white;
    background-color: $primary-color;
    &:hover {
      color: black !important;
    }
  }
  &--checkout {
    color: white;
    background-color: $primary-color;
  }
}
.error {
  display: flex;
  align-items: center;
  column-gap: 5px;
  width: inherit;
  padding: 5px 0 5px 5px;
  border-radius: 10px;
  margin-bottom: 15px;
  margin-top: -15px;
  color: red;
}
.dangerous {
  color: #ff2323;
  display: flex;
  align-items: center;
  column-gap: 5px;
  padding-bottom: 10px;
  &-success {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
    color: $green-success;
  }
}
.hover-items {
  :hover {
    border: 1px solid $primary-color;
  }
}
.about-us {
  display: flex;
  align-items: center;
  justify-content: center;
  
}
