.cart{
    &-back{
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 10px;
        align-items: center;
        margin-bottom: 160px;
    }
    &-icon{
        font-size: 30px;
    }
    &-title{
        text-align: center;
        font-weight: 400;
        font-size: 30px;
        &--success{
            f
            color: $green-success;
        }
    }
}