@function boxShadow(){
    @return 0px -1px 18px -8px rgba(0, 0, 0, 0.57),
     0px -1px 18px -8px rgba(0, 0, 0, 0.57),
     0px -1px 18px -8px rgba(0, 0, 0, 0.57);
}
@mixin hoverBox {
    transition: all 0.25s linear;
    &:hover{
      box-shadow: boxShadow();
    }
}
@mixin hoverButton {
    transition: all 0.25s linear;
}