button {
  border: none;
  background-color: transparent;
  outline: none;
}
button:focus {
  border: none;
}
.header {
  padding-top: 43px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &-user {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    &-name {
      display: block;
      width: 60px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-weight: 600;
    }
    &-image {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 5px;
      text-decoration: none;
      img {
        width: 50px;
        height: 50px;
        border-radius: 100rem;
        object-fit: cover;
      }
    }
    &-icon {
      width: 50px;
      height: 50px;
      background-color: $background;
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      text-decoration: none;
      i {
        font-size: 20px;
        font-weight: bold;
      }
    }
    &-icon:active {
      background-color: $background-dark;
      transition: all 0.25s;
    }
  }
  &-logo {
    &-image {
      width: 235px;
    }
  }
  &-menu {
    display: flex;
    align-items: center;
    gap: 60px;
    &-product {
      display: flex;
      align-items: center;
      gap: 5px;
    }
    &-child {
      position: absolute;
      top: 30px;
      width: 170px;
      display: flex;
      flex-direction: column;
      gap: 35px;
      background-color: $background;
      border-radius: 5px;
      padding: 20px 10px;
      opacity: 0;
      visibility: hidden;
      transition: all 0.25s;
      z-index: 100;
    }
    &-item {
      position: relative;
      a {
        color: $gray-dark;
        text-decoration: none;
        &:hover {
          color: $primary-color;
          transition: color 0.2s ease-in-out;
        }
      }
    }
  }
  &-cart {
    font-size: 35px;
    cursor: pointer;
    :hover {
      color: $primary-color;
    }
  }
  &-search {
    padding: 10px;
    background-color: #f3f4f4;
    border-radius: 8px;
    display: flex;
    margin-right: -20px;
    border: 1px solid transparent;
    transition: all 0.25s linear;
    align-items: center;
    &:hover {
      background-color: white;
      border: 1px solid $primary-color;
    }
    &-icon {
      background-color: transparent;
      border: none;
      font-size: 30px;
      cursor: pointer;
    }
    input {
      width: 120px;
      font-size: 15px;
      width: inherit;
      padding: 10px 0;
      border: 0;
      border-radius: #f3f4f4;
      background-color: inherit;
      outline: none;
    }
  }
}
.hover:hover .header-menu-child {
  opacity: 1;
  visibility: visible;
}
