.login{
    margin: 100px 0;
    &-main{
    width: 400px;
    margin: 0 auto;
    background-color: $background;
    border-radius: 20px;
    padding: 40px;
    }
    &-field{
        display: flex;
        align-items: center;
        background-color: $background-input;
        padding: 15px;
        border-radius: 16px;
        margin-bottom: 20px;
    }
    &-icon{
        font-size: 16px;
        width: 20px;
    }
    &-input{
        border: 0;
        padding-left:15px;
        background-color: transparent;
        outline: none;
        font-family: $font-family;
        width: 100%;
    }
    &-submit{
        font-size: 16px;
        color: white;
        border-radius: 16px;
        display: block;
        width: 100%;
        padding: 15px 10px;
        border: 0;
        background-color: $primary-color;
    }
    &-title{
        font-family: $;
        text-align: center;
        margin-bottom: 30px; 
        font-weight: 550;
        font-size: 30px;
    }
    &-forgot{
        &-password{
            text-decoration: none;
            display: block;
            text-align: right;
            margin-bottom: 20px;
            font-weight: 400;
            font-size: 14px;
        }
    }
    &--back{
        text-decoration: none;
        text-align: center;
        font-size: 16px;
    }
}
.sigup-button{
    display: flex;
    align-items: center;
    column-gap: 20px;
}
