.profile{
    &-container{
        width: 1000px;
        display: flex;
    }
    &-profile-left{
        width: 30%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        
    }
    &-profile-right{
        width: 70%;
    }
}