.input-producer {
    background-color: #f3f4f4;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid transparent;
    outline: none;
    input {
      border: 0;
      padding-left: 15px;
      background-color: transparent;
      outline: none;
      font-family: "Poppins", sans-serif;
      width: 400px - 60px;
    }
  }