.profile{
    margin: 100px auto;
    &-container{
        margin: 0 auto;
        width: 1000px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &-left{
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        column-gap: ;
        img{
            width: 50px;
            height: 50px;
            border-radius: 100rem;
            object-fit: cover;
        }
    }
    &-profile-right{
        width: 70%;
    }
}