.profile {
  margin: 100px auto;
  &-container {
    margin: 0 auto;
    width: 1000px;
    display: flex;
    align-items: center;
    -webkit-box-shadow: 0px -1px 18px -8px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px -1px 18px -8px rgba(0, 0, 0, 0.57);
    box-shadow: 0px -1px 18px -8px rgba(0, 0, 0, 0.57);
    border-radius: 10px;
  }
  &-left {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    row-gap: 20px;
    padding: 50px 100px 70px 100px;
    border-right: 1px solid #ccc;
    &
    img {
      width: 60px;
      height: 60px;
      border-radius: 100rem;
      object-fit: cover;
    }
    &-name{
        font-family: $font-family;
        border: none;
        max-width: 85px;
    }
  }
  &-profile-right {
    width: 70%;
  }
}
