.input-producer{
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid transparent;
    outline: none;
    font-size: 20px;
    input {
      border: 0;
      padding-left: 15px;
      background-color: transparent;
      outline: none;
      font-family: "Poppins", sans-serif;
      width: 400px - 60px;
    }
    :active{
        border:1px solid $primary-color;
    }
  }