.profile {
  margin: 100px auto;
  &-container {
    margin: 0 auto;
    width: 1000px;
    display: flex;
    align-items: center;
    -webkit-box-shadow: 0px -1px 18px -8px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px -1px 18px -8px rgba(0, 0, 0, 0.57);
    box-shadow: 0px -1px 18px -8px rgba(0, 0, 0, 0.57);
    border-radius: 10px;
  }
  &-left {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    row-gap: 20px;
    padding: 50px 100px 70px 100px;
    border-right: 1px solid #ccc;
    &-role{
        margin-top: -20px;
    }
    img {
      width: 60px;
      height: 60px;
      border-radius: 100rem;
      object-fit: cover;
    }
    &-name{
        font-family: $font-family;
        border: none;
        max-width: 85px;
    }
  }
  &-right {
    width: 70%;
    padding: 25px 35px;
    height: 250px;
  }
  &-header{
      border-bottom: 1px solid #ccc;
      padding-bottom: 5px;
      font-weight: bold;
  }
  &-detail{
      padding: 25px 0 25px 0;
      display: flex;
      flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  &-item{
      display: flex;
      flex-direction: column;
      row-gap: 25px;
      width: 150px;
  }
  &-input{
      border: none;
      font-family: $font-family;
      color: #9E9AA3;
      &:focus{
          outline: none;
      }
  }
  &-footer{
      display: flex;
      flex-direction: column;
      row-gap: 5px;
  }
  &-save{
      display: flex;
      align-items: center;
      font-size: 20px;
      justify-content: center;
      margin: 0 auto;
      cursor: pointer;
      border: 1px solid #ccc;
      background-color:$primary-color;
      padding: 5px 10px;
      border-radius: 3px;
      color: white;
  }
  &-mess{
    
  }
  &-purchar{
      display: inline-block;
  }
}
