.profile{
    &-container{
        width: 1000px;
        display: flex;
        align-items: center;
    }
    &-left{
        width: 30%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: center;
        img{
            width: 50px;
            height: 50px;
        }
    }
    &-profile-right{
        width: 70%;
    }
}