.purchar{
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin: 100px auto;
    &-title{
        font-weight: bold;
        font-size: 20px;
    }
    &-container{
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
#table{
    width: 1000px !important;
}