.purchar{
    margin: 100px auto;
    &-container{
        max-width: 1000px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
#table{
    
}