.slide{
  max-width: 500px;
  margin: 0 auto;
}
.image-item{
  height: 300px;
}
.image img{
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 12px;
  margin: 0 auto;
}
.slick-initialized .slick-slide{

}