.slide{
  max-width: 500px;
  height: auto;
  margin: 0 auto;
}
.image-item{
  height: 300px;
}
.image img{
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 12px;
  margin: 0 auto;
}
.slick-initialized .slick-slide{
  padding: 0 10px;
}
.slick-prev{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background-color: #ccc;
  color: black;
  border: none;
  z-index: 2;
  padding: 10px 20px;
}
.slick-next{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #ccc;
  color: black;
  border: none;
  z-index: 2;
  padding: 10px 20px;
}