.image-slider{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  a
}
.image-item{
  height: 300px;
}
.image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}