.slide{
  max-width: 500px;
  height: auto;
  margin: 0 auto;
}
.image-item{
  height: 300px;
}
.image img{
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 12px;
  margin: 0 auto;
}
.slick-initialized .slick-slide{
  padding: 0 10px;
}
.slick-arrow{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  width: 50px;
  height: 50px;
  display: flex;
  
}
.slick-prev{
  right: 0;
}
.slick-next{
  left: 0;
}
