.slideshow-container{
  width:400px;
  margin:20px auto;
  text-align: center;
  padding:20px;
  color:white;
}
.mySlides{
  padding:15px;
}
.slide-img{
  width: 200px;
  height: 200px;
  
  display: block;
  
}