.image-slider{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
.image-item{
  height: 300px;
}
.image image{
  width: 100px;
  height: 100%;
  object-fit: cover;
    border-radius: 12px;
}