.image-slider{
  margin: 0 auto;
}
.image-item{
  height: 300px;
}
.image img{
  width: 50%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}
.slick-initialized .slick-slide{
  margin: 0 auto;
}