.slide{
  max-width: 600px;
  height: auto;
  margin: 0 auto;
}
.image-item{
  height: 300px;
}
.image img{
  width: 100%;  
  he
  object-fit: cover;
  border-radius: 12px;
  margin: 0 auto;
}
.slick-initialized .slick-slide{
  padding: 0 10px;
}
.slick-arrow{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  line-height: 1;
  z-index: 3;
}
.slick-prev{
  right: -20px;
}
.slick-next{
  left: -20px;
}
