.slideshow-container{
  width:400px;
  margin:20px auto;
  text-align: center;
  padding:20px;
  color:white;
}
.mySlides{
  padding: 0 28px;
}
.slide-img{
  width: 200px;
  height: 200px;
  object-fit: cover;
  display: block;
}