.image-slider{
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.image-item{
  height: 400px;
}
.image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  margin: 0 auto;
}
.slick-initialized .slick-slide{
  padding: 0 10px;
}
.slick-arrow{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  width: 40px;
  height: 40px;
  background-color: $background;
  border-radius: 100rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  line-height: 1;
  z-index: 3;
}
.slick-prev{
  right: -20px;
}
.slick-next{
  left: -20px;
}
.slick-dots{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%,120%);
  display: flex !important;
  align-items: center;
  justify-content: center;
  gap: 0 10px;
  &-button{
    font-size: 0;
    width: 20px;
    height: 20px;
    background-color: $background;
    border-radius: 100rem;
  }
}