$gray-dark:#272E35;
$primary-color:#E2783C;
$background:#fcf9f6;
$background-input:#f3f4f4;
$background-dark:#f5d6bc;
$background-danger:#ff2323;
$font-family:'Poppins', sans-serif;
$green-success: #098b09;
$box-shadow:-webkit-box-shadow: 0px -1px 18px -8px rgba(0, 0, 0, 0.57);
-moz-box-shadow: 0px -1px 18px -8px rgba(0, 0, 0, 0.57);
box-shadow: 0px -1px 18px -8px rgba(0, 0, 0, 0.57);
